body{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	color:#404040;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.header{
	padding-top: 0.3%;
	padding-left: 3%;
}

div.body{
	background-color:#f8f8f8;
	padding-top: 0.5%;
	padding-left: 2.5%;
	padding-bottom: 0.5%;
}

div.footer{
	margin:0;
	padding-top: 1.25%;
	padding-left: 3%;
	padding-bottom: 1.25%;
	padding-right: 3%;
	font-size:70%;
}

h1{
	font-size:220%;
}

h4{
	margin-top: 0px;
	margin-bottom: 5px;
}

p{
	margin-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

canvas{
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
